:root {
  background-color: black;
  color: yellow;
}
a {
  color: yellow;
  text-decoration: none;
}
table,
th,
td {
  border: 1px solid yellow;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
button {
  background-color: yellow;
  border: 2px solid;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

button:hover {
  background-color: lightyellow;
}
.delete-row {
  border: none;
}
nav {
  display: flex;
  justify-content: space-between;
}
.edit-button {
  background-color: yellow;
  color: black;
  font-size: 10px;
  padding: 7px 16px;
  text-decoration: none;
  display: inline-block;
}
.edit-button:hover {
  background-color: lightyellow;
}
