:root {
  background-color: black;
  color: #ffa31a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
a {
  color: black;
  margin: 10px;
}

table,
th,
td {
  border: 1px solid #ffa31a;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}
button {
  background-color: #ffa31a;
  border: 2px solid;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

button:hover {
  background-color: #808080;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffa31a;
  height: 50px;
  align-items: center;
  font-size: 20px;
}
.edit-button {
  background-color: #ffa31a;
  color: black;
  font-size: 10px;
  padding: 3px 17px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin-top: 0;
  border: 2px solid black;
}
.edit-button:hover {
  background-color: #808080;
}
.book {
  font-size: 50px;
  color: white;
}
.hub {
  font-size: 50px;
  background-color: #ffa31a;
  color: black;
  border-radius: 5px;
}
.bookhub-box {
  display: flex;
  justify-content: center;
}
.welcome {
  font-size: 20px;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  max-width: 100%;
}
.login-box {
  display: flex;
  align-items: center;
  justify-content: wrap;
  width: 25vw;
  height: 50vh;
  border: 2px solid #ffa31a;
  flex-direction: column;
  border-radius: 25px;
}
label {
  display: block;
}
.login-input {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 5%;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 2px solid #ffa31a;
}
.login-button {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 5%;
  font-size: 20px;
}
.error {
  color: red;
  margin-left: 5%;
}
body {
  margin: 0;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #ffa31a;
  flex-direction: column;
  overflow-wrap: break-word;
  margin: 70px;
  width: 15vw;
  height: 40vh;
  background-image: url("/images/books.png");
  color: black;
  padding: 10px;
}
.card-text {
  width: 15vw;
  text-align: center;
}
.book-article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  flex-wrap: wrap;
}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
}
.edit-input {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 5%;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 2px solid #ffa31a;
}
.book-edit-button {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 5%;
  font-size: 20px;
}
.edit-box {
  display: flex;
  align-items: center;
  justify-content: wrap;
  width: 25vw;
  height: 50vh;
  border: 2px solid #ffa31a;
  flex-direction: column;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #ffa31a;
    flex-direction: column;
    overflow-wrap: break-word;
    margin: 70px;
    width: 50vw;
    height: 80vh;
    background-image: url("/images/books.png");
    color: black;
    padding: 10px;
  }
  .card-text {
    width: 50vw;
    text-align: center;
  }
  .login-input {
    width: 90%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-left: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 2px solid #ffa31a;
  }
  .login-button {
    width: 90%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-left: 5%;
    font-size: 20px;
  }
  .login-box {
    display: flex;
    align-items: center;
    justify-content: wrap;
    width: 50vw;
    height: 60vh;
    border: 2px solid #ffa31a;
    flex-direction: column;
    border-radius: 25px;
  }
  .edit-input {
    width: 90%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-left: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 2px solid #ffa31a;
  }
  .book-edit-button {
    width: 90%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-left: 5%;
    font-size: 20px;
  }
  .edit-box {
    display: flex;
    align-items: center;
    justify-content: wrap;
    width: 50vw;
    height: 60vh;
    border: 2px solid #ffa31a;
    flex-direction: column;
    border-radius: 25px;
  }
}
@media (max-width: 500px) {
  .book {
    font-size: 100%;
  }
  .hub {
    font-size: 100%;
  }
  .login-box {
    display: flex;
    align-items: center;
    justify-content: wrap;
    width: 50vw;
    height: 35vh;
    border: 2px solid #ffa31a;
    flex-direction: column;
    border-radius: 25px;
  }
}
.author-select {
  width: 90%;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 5%;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 2px solid #ffa31a;
}
.sort-select {
  width: 150px;
  border-radius: 10px;
  border: 2px solid #ffa31a;
  text-align: center;
  /* display: inline-block; */
}
.sort-button {
  /* display: inline-block; */
}
.sort-div {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.logout-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
}
.logout-button {
  padding: 10px;
  font-weight: bold;
}
.sort-text {
  display: inline-block;
}
.sort-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
